<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">New board
    </h1>
    <ol class="breadcrumb">
      <li><%= link_to 'Boards', game_boards_path %></li>
      <li class="active">New board</li>
    </ol>
  </div>
</div>

<%= render 'form' %>
